services:
  postgres:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nextjs_dashboard
      POSTGRES_URL: postgres://user:password@localhost:5432/nextjs_dashboard
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
